@media screen and (max-width: 600px) {
    main div img{
        max-width: 80%;
    }  
    
}
* {
    margin: 0;
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    background-color: #ffffff
}
header {
    background-color: #0a0286;
    padding: 60px;
    text-align: center;
    margin-bottom: 10px ;
}
header h1 {
    color: white;
}
nav {
    background-color: #3d3d3d;
    padding: 20px;
    text-align: center;
}

nav a {
    padding-right: 40px;
    text-decoration: none;
    color: white;
}
main {
    background-color: white;
}
main h2 {
    padding: 20px;
}
main p {
    padding: 20px;
}
footer {
    background-color: #3d3d3d;
    text-align: center;
    padding: 20px;
}
footer p {
    color: white;
}
.login form{
    height: 150px;
    padding-top: 40px;
    margin: auto;
}
.login{
    width: 100%;
    display: flex;
    align-items: center;
}
.login form input[type="submit"]{
    width: 408px;
}
