@media screen and (max-width: 600px) {
    main div img{
        max-width: 80%;
    }  
    
}  
* {
    margin: 0;
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    background-color: #ffffff
    
}
header {
    background-color: #0a0286;
    padding: 60px;
    text-align: center;
    margin-bottom: 10px ;
}
header h1 {
    color: white;
}
nav {
    background-color: #3d3d3d;
    padding: 20px;
    text-align: center;
}

nav a {
    padding-right: 40px;
    text-decoration: none;
    color: white;
}
main h2 {
    margin-top: 60px;
    margin-bottom: 30px;
}
main div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
main div img {
    height: 260px;
    width: 260px;
    flex-grow: 4;
    margin: 10px;
    
}
footer {
    background-color: #3d3d3d;
    text-align: center;
    padding: 20px;
}
footer p {
    color: white;
}
